<div style="margin-bottom: 20px;">
    <a class="button" href="{{url_base}}/f/{{id}}/read">Mark read</a>
</div>

{{#each items}}
<div class="box feed-item {{#if this.read}} feed-item-read {{/if}}">
    <p>{{this.dateFormat}}</p>
    <div class="level">
        <div class="level-left">
            <div class="level-item">
                <p class="subtitle is-4">
                    <a class="item-title" href="{{this.link}}">{{this.title}}</a>
                </p>
            </div>
        </div>
        <div class="level-right">
            <div class="level-item">
                <a class="button" href="{{../url_base}}/txt/{{this.decodedLink}}">text</a>
            </div>
        </div>
    </div>
</div>
{{/each}}

<div class="item">
    <div class="item-date">{{this.dateFormat}}</div>
    <div>
        {{#if this.read}} - {{else}} + {{/if}}
        <a class="item-title" href="{{this.link}}">{{this.title}}</a>
        <a class="item-text" href="{{../url_base}}/txt/{{this.decodedLink}}">text</a>
    </div>
</div>

<script>
    $(".feed-item").click(function () {
        window.location = $(this).find(".item-title").attr("href");
    });
</script>